#registry=http://nexus.alphacloudnative.huaxiacloud.com/repository/npm-group/
#registry=http://119.3.249.210:8081/repository/npm-group/
#_auth=aHVtaWFvOmh1bWlhbzEyMyE=
registry=https://prod-nexus.cloudnative.huaxiacloud.com/repository/chinasoft-npm-group/
_auth=YW1wLWRldjo3XUJiWzlBeXYt